openapi: 3.0.0
info:
  title: Mobile api manufacturers API
  description: REST API providing structured device specifications, base64-encoded product images, and pricing metadata for 31,500+ smartphones, tablets, smartwatches, and laptops across 200+ manufacturers. Endpoints support paginated listing, fuzzy search by name or model number, autocomplete, browsing by manufacturer/year/type, per-category specifications (battery, display, platform, memory, cameras, network, sound, comms, features, body, misc), high-resolution images, manufacturer directory, account introspection (/me/), and an AI natural-language query endpoint.
  termsOfService: https://app.getterms.io/view/AG2Np/terms-of-service/en-us
  contact:
    name: MobileAPI.dev Support
    email: support@mobileapi.dev
    url: https://mobileapi.dev/
  version: v1
servers:
- url: https://api.mobileapi.dev
  description: MobileAPI.dev production server
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: manufacturers
paths:
  /manufacturers/:
    parameters: []
    get:
      operationId: manufacturers_list
      summary: List All Device Manufacturers
      description: Retrieve a list of all device manufacturers with their names and website URLs. Results are paginated with 50 manufacturers per page. Requires authentication.
      parameters:
      - name: Authorization
        in: header
        description: 'Recommended: ''Token YOUR_API_KEY'' or ''Bearer YOUR_API_KEY'''
        required: false
        schema:
          type: string
      - name: key
        in: query
        description: 'Fallback: API key as query parameter (optional for demo)'
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Page number (default: 1). Each page contains 50 manufacturers.'
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Paginated list of manufacturers with metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ManufacturerList'
        '400':
          description: Bad request, invalid page parameter
        '401':
          description: Unauthorized - API key required
      tags:
      - manufacturers
  /manufacturers/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this manufacturer.
      required: true
      schema:
        type: integer
    get:
      operationId: manufacturers_read
      summary: Get Manufacturer by ID
      description: Retrieve detailed manufacturer information by providing its ID. Returns manufacturer name, website URL, and logo.
      parameters:
      - name: Authorization
        in: header
        description: 'Recommended: ''Token YOUR_API_KEY'' or ''Bearer YOUR_API_KEY'''
        required: false
        schema:
          type: string
      - name: key
        in: query
        description: 'Fallback: API key as query parameter (optional for demo)'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturerList'
        '401':
          description: Unauthorized - Authentication required
        '404':
          description: Not Found - Manufacturer with given ID does not exist
      tags:
      - manufacturers
components:
  schemas:
    ManufacturerList:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 255
          minLength: 1
        website_url:
          title: Website url
          description: Manufacturer official website URL
          type: string
          format: uri
          maxLength: 500
          nullable: true
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Provide your API key in the Authorization header using either 'Token YOUR_API_KEY' or 'Bearer YOUR_API_KEY'. Both formats are equivalent.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Fallback - supply your API key as the 'key' query parameter.
