openapi: 3.0.0
info:
  title: Mobile api payment_successful API
  description: REST API providing structured device specifications, base64-encoded product images, and pricing metadata for 31,500+ smartphones, tablets, smartwatches, and laptops across 200+ manufacturers. Endpoints support paginated listing, fuzzy search by name or model number, autocomplete, browsing by manufacturer/year/type, per-category specifications (battery, display, platform, memory, cameras, network, sound, comms, features, body, misc), high-resolution images, manufacturer directory, account introspection (/me/), and an AI natural-language query endpoint.
  termsOfService: https://app.getterms.io/view/AG2Np/terms-of-service/en-us
  contact:
    name: MobileAPI.dev Support
    email: support@mobileapi.dev
    url: https://mobileapi.dev/
  version: v1
servers:
- url: https://api.mobileapi.dev
  description: MobileAPI.dev production server
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: payment_successful
paths:
  /payment_successful:
    parameters: []
    get:
      operationId: payment_successful_list
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - payment_successful
  /payment_successful/:
    parameters: []
    get:
      operationId: payment_successful_list
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - payment_successful
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Provide your API key in the Authorization header using either 'Token YOUR_API_KEY' or 'Bearer YOUR_API_KEY'. Both formats are equivalent.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Fallback - supply your API key as the 'key' query parameter.
