openapi: 3.0.0
info:
  title: Mobile api API
  description: REST API providing structured device specifications, base64-encoded product images, and pricing metadata for 31,500+ smartphones, tablets, smartwatches, and laptops across 200+ manufacturers. Endpoints support paginated listing, fuzzy search by name or model number, autocomplete, browsing by manufacturer/year/type, per-category specifications (battery, display, platform, memory, cameras, network, sound, comms, features, body, misc), high-resolution images, manufacturer directory, account introspection (/me/), and an AI natural-language query endpoint.
  termsOfService: https://app.getterms.io/view/AG2Np/terms-of-service/en-us
  contact:
    name: MobileAPI.dev Support
    email: support@mobileapi.dev
    url: https://mobileapi.dev/
  version: v1
servers:
- url: https://api.mobileapi.dev
  description: MobileAPI.dev production server
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: api
paths:
  /api/firewall/:
    parameters: []
    get:
      operationId: api_firewall_list
      summary: A Viewset for Viewing Firewall Log Entries.
      description: 'This is a read-only viewset that allows authenticated admin users

        to view the firewall logs via REST API.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FirewallAPILog'
      tags:
      - api
  /api/firewall/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Firewall API Log.
      required: true
      schema:
        type: integer
    get:
      operationId: api_firewall_read
      summary: A Viewset for Viewing Firewall Log Entries.
      description: 'This is a read-only viewset that allows authenticated admin users

        to view the firewall logs via REST API.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallAPILog'
      tags:
      - api
components:
  schemas:
    FirewallAPILog:
      required:
      - remote_address
      - server_hostname
      - url
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        remote_address:
          title: Remote Address
          description: The IP address of the client making the request.
          type: string
          minLength: 1
        server_hostname:
          title: Server Hostname
          description: The hostname of the server that received the request.
          type: string
          maxLength: 255
          minLength: 1
        url:
          title: Request URL
          description: The URL path that was requested.
          type: string
          minLength: 1
        blocked:
          title: Blocked
          description: Whether this IP is currently blocked.
          type: boolean
        created_at:
          title: Created At
          description: When this log entry was first created.
          type: string
          format: date-time
          readOnly: true
        updated_at:
          title: Updated At
          description: When this log entry was last updated.
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Provide your API key in the Authorization header using either 'Token YOUR_API_KEY' or 'Bearer YOUR_API_KEY'. Both formats are equivalent.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Fallback - supply your API key as the 'key' query parameter.
