openapi: 3.2.0
info:
  title: Mobile API Token Auth API
  description: REST API providing structured device specifications, base64-encoded product images, and pricing metadata for 31,500+ smartphones, tablets, smartwatches, and laptops across 200+ manufacturers.
  termsOfService: https://app.getterms.io/view/AG2Np/terms-of-service/en-us
  contact:
    name: MobileAPI.dev Support
    email: support@mobileapi.dev
    url: https://mobileapi.dev/
  version: v1
servers:
- url: https://api.mobileapi.dev
  description: MobileAPI.dev production server
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: api-token-auth
paths:
  /api-token-auth/:
    parameters: []
    post:
      operationId: api-token-auth_create
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthToken'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
      tags:
      - api-token-auth
      summary: Api token auth create
      x-summary-source: derived
components:
  schemas:
    AuthToken:
      required:
      - username
      - password
      type: object
      properties:
        username:
          title: Username
          type: string
          minLength: 1
        password:
          title: Password
          type: string
          minLength: 1
        token:
          title: Token
          type: string
          readOnly: true
          minLength: 1
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Provide your API key in the Authorization header using either 'Token YOUR_API_KEY' or 'Bearer YOUR_API_KEY'. Both formats are equivalent.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Fallback - supply your API key as the 'key' query parameter.
